<div class="camera-container">
  <!-- Overlay: The draggable square is placed on top of the camera preview -->
  <div class="overlay" >
    <div
      #draggableSquare
      class="draggable-square"
      (mousedown)="startDrag($event)"
      (touchstart)="startDrag($event)"
      (mousemove)="onDrag($event)"
      (touchmove)="onDrag($event)"
      (mouseup)="endDrag()"
      (touchend)="endDrag()"
    ></div>
  </div>
  <!-- Capture button -->
  <button class="capture-button" (click)="captureAndCrop()">Capture and Crop</button>
</div>

<div class="image-container">
  <img [src]="'data:image/png;base64,' + image" alt="Captured Image" />

</div>